.wrapper {
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;
  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
    background-color: white;
  }
}
input[type="submit"].btn-block{
  margin: 0;
}

.container{
  padding-bottom: 85px;
  background-color:#F5F8FA;
  clear:both;
}

header.tweet{
  width: 100%;
  background-color: white;
  height: 50px;
}


.tweet-form {
  color: aqua;
  text-align: left;
  margin: 10px 0;
}

.top-submit {
  text-align: right;
}

.tweet-submit{
  text-align: center;
}

.page-top-btn {
  display: none;
  border-radius: 50px;
  background: #336699;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 20;
  a {
    display: block;
    color: white;
    line-height: 60px;
    text-decoration: none;
  }
   &:hover {
  opacity: 0.7;
  }
}

.count {
  color: silver;
}




.navbar-default {
    border: 0;
    height: 50px;
}

.container-fluid {
    height: 50px;
}

.navbar {
    background-color: transparent;
    color: #66757F;
    margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: #66757F;
    &:hover {
      color: #66757F;
    }
  }
  .navbar-nav > li > a {
    color: #66757F;
    &:hover, &:focus {
      color: #66757F;
    }
    margin-top: 100px;
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: #66757F;
    &:hover, &:focus {
      background-color: transparent;
      color: #66757F;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #66757F;
    text-align: center;
    &:hover, &:focus {
      color: #66757F;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

.dropdown-menu {
    padding: 0;
}

.navbar-right {
  margin: 0 auto;
  list-style: none;
  display: block;
  padding: 20px;
  text-decoration: none;
  font: white;
  position: relative;
  bottom: 120px;
}